// Colors
$color-1: rgb(196, 32, 55);
$color-2: rgb(255, 3, 15);
// #ff030f
$color-3: rgb(47, 44, 44);

$color-primary: $color-2;
$color-accent: white;

$color-background: white;
$color-text: $color-3;
$color-text-link: inherit;
$color-semi-transparent: rgba(black, 0.5);
$color-shadow: rgba($color-primary, 0.8);