// Fonts
$font-size-x-small: 11px;
$font-size-small: 12px;
$font-size-regular: 14px;
$font-size-large: 16px;
$font-size-x-large: 18px;
$font-size-xx-large: 20px;
$font-size-xxx-large: 24px;
$font-size-xxxx-large: 32px;
$font-size-modificator: 2px;
$base-font-family: "SFUIDisplay", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$base-line-height: 1.33;
$large-line-height: 2.2;
$base-font-weight: 400;