.btn {
	display: inline-block;
	vertical-align: top;
  text-align: center;
  cursor: pointer;
  
	background: $color-1 $gradient-primary;
  color: white;
  border-radius: $border-radius-primary;
  padding: 0.2em 1em;
  box-shadow: 0 0 1em $color-shadow;
  transition: all 0.2s ease-in-out;

  &:hover {
		box-shadow: 1px 1px 1.6em $color-shadow;
	}
	&:focus {
		box-shadow: 0 0 0.6em $color-shadow;
  }
  
  &:disabled {
    opacity: 0.6;
    cursor: default;
  }
}