.table-container {
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
}

td {
  border-top: 1px solid rgba(56, 56, 60, 0.2);
  border-bottom: 1px solid rgba(56, 56, 60, 0.2);
  padding: 2em 1em;

  @include respond-to(medium) {
    &:first-child {
      padding-left: 4rem;
    }
  
    &:last-child {
      padding-right: 4rem;
    }
  }

}
